@tailwind base;
@tailwind components;
@tailwind utilities;

.comic {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.imgDarken {
  background-color: #000000 !important;
}
.imgDarken img {
  opacity: 0.2 !important;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  flexdirection: row;
  flexwrap: wrap;
}
.snake-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid-item {
  outline: 1px solid grey;
  width: 50px;
  height: 50px;
}

.snake {
  outline: 1px solid blue;
  background-color: blue;

  width: 50px;
  height: 50px;
}

.food {
  outline: 1px solid yellow;
  background-color: yellow;
  width: 50px;
  height: 50px;
  background-image: url("https://ibb.co/mC4HgB0");
}

img {
  pointer-events: none;
}

.ingredient {
  height: 50px;
  width: 50px;
}
